# Ignore these folders wherever they appear
**/.cache/
**/obj/
**/bin/

# Ignore these specific generated/temp files everywhere
**/compile_commands.json
*.7z
*.bmarks
*.layout
*.bak
*.obj
*.depend

# Root-specific ignores (Add / if these only exist in the main folder)
/personality/
/tests/
